[2015-10-06 23:15] spiermar opened #1 "zoom"

[2015-10-06 23:15] spiermar opened #2 "search"

[2015-10-06 23:16] spiermar opened #3 "highlight"

[2015-10-06 23:16] spiermar opened #4 "tooltips"

[2015-10-06 23:51] spiermar opened #5 "migrate to browsersync"

[2015-10-07 00:09] spiermar opened #6 "truncate labels"

[2015-10-07 00:42] spiermar opened #8 "center tooltip on mouse"

[2015-10-07 00:43] spiermar opened #9 "configurable color palette and code hues"

[2015-10-07 00:43] spiermar opened #10 "improve overall example style"
* font face and size

[2015-10-07 00:44] spiermar commented on #4
Fixed on eb878e16b3dcf06c23ff6084539703c031a4e339

[2015-10-07 00:44] #4 closed

[2015-10-07 00:49] brendangregg opened #11 "add a blank rectangle at the bottom"
Which spans 100% of the width, and can show the total sample count. It can also be a target for click-to-unzoom.

[2015-10-07 00:54] spiermar commented on #5
Done in 85e0238c800d903bbd94c7fa2b1466dbb2259885.

[2015-10-07 00:54] #5 closed

[2015-10-07 17:29] spiermar commented on #6
Fixed on cb9b022fd5abda2445ce32f7e02c29d8cb928c28.

[2015-10-07 17:29] #6 closed

[2015-10-07 17:29] spiermar commented on #10
Fixed on 7f1e500fbf0ae1d7b294afd019e2448ed30ac970.

[2015-10-07 17:29] #10 closed

[2015-10-07 19:15] spiermar commented on #11
Done in 2b68c0f54d430c7e1c50686b4b76b416ee9ad8c5.

[2015-10-07 19:15] #11 closed

[2015-10-07 19:31] spiermar opened #12 "enable/disable tooltip"

[2015-10-07 20:05] spiermar commented on #12
@brendangregg Fixed on e9cdebc394ad677b7222ba02c97e220ed8eb667b.

[2015-10-07 20:05] #12 closed

[2015-10-07 21:10] spiermar opened #13 "display label on external container"

[2015-10-07 21:10] spiermar opened #14 "publish example on gist/bl.ocks.org"

[2015-10-08 00:59] spiermar commented on #1
Done in c2b26d09eaee13fbe53719a4b56a3506d8544d5e.

[2015-10-08 00:59] #1 closed

[2015-10-08 00:59] spiermar opened #15 "zoom reset button"

[2015-10-08 01:01] spiermar commented on #1
@brendangregg zoom is working now, just need to add a reset button

[2015-10-08 01:13] spiermar opened #16 "sort frames before drawing"

[2015-10-08 01:14] spiermar opened #17 "retain the lower frames when zooming"

[2015-10-08 02:23] spiermar opened #18 "remove title, label and tooltip from dummy frames"

[2015-10-08 18:36] spiermar commented on #18
Fixed on f7e38018c8b304d2831c6873c67b1858a46de369.

[2015-10-08 18:36] #18 closed

[2015-10-08 21:07] spiermar opened #19 "graph title"

[2015-10-08 21:31] spiermar opened #20 "zoom transition animation"

[2015-10-08 21:40] spiermar commented on #17
Done in b36e2f5312da1f119795a7d9d9b5d78fdce6b31f.

[2015-10-08 21:40] #17 closed

[2015-10-08 21:41] spiermar commented on #16
Done in 7c986efcdeb6634ac365cb272d289a624cb5f409.

[2015-10-08 21:41] #16 closed

[2015-10-08 21:43] spiermar opened #21 "link frame to documentation"

[2015-10-08 23:14] spiermar commented on #19
Done in f4ca652d0bf3ba2380e562710297e8e249e34a4e.

[2015-10-08 23:14] #19 closed

[2015-10-09 21:32] brendangregg commented on #2
Also show the percentage of frames matching the search, excluding vertical overlap. Ie, a percentage (up to 100%).

[2015-10-09 21:33] brendangregg opened #22 "toggle for root/leaf merge"
Current flame graphs merge from root to leaf. It can sometimes be helpful to flip the merge direction, and merge from leaf to root. For example, imagine hundreds of code paths ending in mutex_lock, and trying to gauge the total time in mutex_lock. (Ok, search #2, should help in that specific case).

A means to toggle root/leaf merge would be great. I'm not sure how that's best visualized: probably

[2015-10-12 10:11] cimi opened #23 "d3-flame-graph on NPM / alternate implementation"
Hi Martin!

I had been working on [a similar thing](https://github.com/cimi/flame-graph-d3) for for a while. I know you noticed it, since you had starred my project a few weeks ago after it was tweeted by @d3visualization. Coincidentally, it was also named d3-flame-graph but sadly I had to rename since you took the name on NPM and bower last week.

I'm not claiming the idea is mine, I had credited

[2015-10-12 19:31] spiermar commented on #23
Hey Alex,
Yeah, a friend pointed me to your project a couple weeks ago after I mentioned I was working on something similar. Yours is quite new too, since I remember looking for a plugin earlier this year without any luck.
A d3 version of the flame graph has been in our roadmap for quite a while (https://github.com/Netflix/vector/issues/75) and finally I had the time to get something "usable" read

[2015-10-12 19:47] brendangregg commented on #23
G'Day Alex,

Great project and example! I've been wanting a more featured d3 implementation, and it's like all the busses are showing up at once. I need to update my flame graph Updates section. It's early to say, but I suspect I may retire my old Perl implementation in favor of a newer d3 version. I think there's a lot more we can do given more interactivity.

So I noticed a couple of minor thing

[2015-10-12 21:57] spiermar commented on #22
FlameGraph> cat example-stacks.txt | ./stackcollapse.pl | ./flamegraph.pl --reverse --inverted --title "Leaf Merge" > example-leafmerge.svg

[2015-10-12 21:58] spiermar commented on #20
http://mbostock.github.io/d3/talk/20111018/partition.html

[2015-10-13 04:11] spiermar commented on #8
https://github.com/Caged/d3-tip/issues/53

[2015-10-13 04:11] spiermar commented on #8
http://stackoverflow.com/questions/32973634/move-tooltip-along-with-cursor-on-mouseover

[2015-10-13 16:09] #23 closed

[2015-10-14 01:05] spiermar opened #26 "overlapping labels on transtions"

[2015-10-14 01:05] spiermar opened #27 "rectangle movements on first transition"

[2015-10-14 01:07] #20 closed

[2015-10-16 21:36] #27 closed

[2015-10-16 21:37] spiermar opened #29 "rect translate issue when changing default graph size"

[2015-10-16 22:54] #13 closed

[2015-10-16 22:54] #2 closed

[2015-10-16 22:54] #3 closed

[2015-10-16 22:55] spiermar opened #30 "search sample sum"

[2015-10-17 00:44] spiermar opened #31 "api reference"

[2015-10-17 00:48] spiermar opened #32 "move tooltip to external function"

[2015-10-17 23:29] spiermar opened #33 "export svg"

[2015-10-18 05:19] spiermar opened #34 "example script to convert folded stacks into json"

[2015-10-18 22:05] ceeaspb opened #35 "searching low cost functions"
When searching sometimes it matches a low cost function like cv_broadcast in the example http://martinspier.co.uk/d3-flame-graph/
which can't be seen unless you are already heavily zoomed into the area that that call is made.
We need some way of navigating to the search matches if possible.

[2015-10-18 22:13] ceeaspb commented on #22
this would be very useful

[2015-10-18 22:18] spiermar commented on #35
I'm working on the sum of samples and percentage for search results. Might add a hook to a list of search matches with links to zoom. What do you think @ceeaspb ?

[2015-10-19 03:52] spiermar opened #36 "include input to load external file on demo"

[2015-10-19 15:56] ceeaspb commented on #35
thanks @spiermar I think that would be good.

[2015-10-19 15:58] spiermar commented on #35
Great! I'll add it and update the issue once it's working. Besides that, any other idea for solving the problem?

[2015-10-19 16:26] spiermar commented on #26
no great solutions for that yet. text can't shrink or grow, so the only option would be to hide it and show again once there's space in the rect, which I'm not sure it would look great either.

[2015-10-20 23:18] spiermar commented on #34
Done. https://github.com/spiermar/node-stack-convert

[2015-10-20 23:18] #34 closed

[2015-10-21 01:03] spiermar commented on #31
Done. 61687156db3450bc6bacb4a5743a06fe3b1a3adc

[2015-10-21 01:03] #31 closed

[2015-10-21 16:41] spiermar commented on #29
Fixed on 4f4dbc21e09975d5afe496febed10207c5df200d.

[2015-10-21 16:41] #29 closed

[2015-10-22 14:07] gillius opened #37 "Scope CSS to flame graph only"
The CSS defines a .fade class that is also used in Bootstrap, making Bootstrap modals transparent.

The CSS should be scoped so that the styles only apply to the graph itself, rather than defining "global" classes with generic names. For example, prepend .d3-flame-graph to all CSS rules (example .d3-flame-graph .fade), then have JS or user apply class d3-flame-graph to the SVG.

[2015-10-23 03:31] gillius commented on #32
I want to change the tooltip labels myself, so I have implemented this in PR #39, please let me know if this is what you are looking for.

[2015-10-23 03:45] gillius opened #41 "JS error results if there is no div with id details"
The JS calls a setDetails function when hovering over a frame, which looks for a div of type details. If that div does not actually exist, it still tries to set innerHTML on it anyway, which fails.

[2015-10-23 17:31] #37 closed

[2015-10-23 19:57] gillius commented on #41
My fix was merged, so this isn't an issue anymore.

[2015-10-23 19:57] #41 closed

[2015-10-26 18:24] spiermar commented on #32
Yepp. Tks @gillius !

[2015-10-26 18:24] #32 closed

[2015-10-26 20:11] spiermar commented on #32
Would that work for you too @gillius ??

https://github.com/spiermar/d3-flame-graph/pull/45

Moved the whole function outside so other things could be changed too.

[2015-10-26 20:14] spiermar opened #46 "customize default label function"

[2015-10-27 00:05] #46 closed

[2015-11-02 20:51] spiermar commented on #15
Closed on 71b0282312e2e9ab5065057409bdf855295d4d03. Tks @kjellmf

[2015-11-02 20:51] #15 closed

[2015-11-04 03:49] spiermar commented on #14
Done. http://bl.ocks.org/spiermar/4509343495f8d6e214cb

[2015-11-04 03:49] #14 closed

[2015-11-07 21:22] kjellmf commented on #35
#50 may be one possible solution to the problem @ceeaspb. Live demo at http://bl.ocks.org/kjellmf/raw/533df0ddfb0a3247275f/

[2015-11-07 22:36] #35 closed

[2015-11-08 10:59] ceeaspb commented on #35
Looks great thanks @spiermar @kjellmf !

[2015-11-19 14:21] mjmeehan opened #51 "minimum size for flame elements"
Flame elements can be so small as to be unclickable. There should be a minimum size for flame elements, to prevent a loss of interactivity with the graph. The demo flamegraph on this site has several good examples of small (but deep, from a stack perspective) spikes that are very challenging to click.

[2015-11-26 00:11] autarch opened #53 "Don't hard code the word "samples" for labels"
In my particular use case the values are "seconds". It'd be nice to be able to configure this.

[2015-12-09 00:10] spiermar commented on #51
I agree, but it's accurate representation of the stack. Zoom helps with the problem, but clicking on a small frame without zooming first can be challenging sometimes. Any suggestions solving the problem without affecting accuracy? I'm contemplating the idea of hiding small frames until you zoom in. It will help with performance too.

[2015-12-09 00:11] spiermar commented on #53
Should be a simple fix. I'll add it to the next release.

[2015-12-15 20:17] spiermar opened #54 "improve performance of update() function"

[2015-12-15 20:18] spiermar opened #55 "improve live graph transitions"

[2015-12-15 20:23] spiermar commented on #53
You should be able to override de default label using the flameGraph.label function:

[code]

Let me know if that doesn't work.

[2015-12-15 20:23] #53 closed

[2015-12-15 20:24] spiermar commented on #51
This might be tied to #54

[2015-12-15 20:29] spiermar opened #56 "fix async behavior"
Some functions do not account for async behavior, like update() and augment()

[2015-12-15 21:30] spiermar commented on #56
Apparently the loops are synchronous, so technically no problem.

[2015-12-15 21:30] #56 closed

[2015-12-17 23:49] autarch commented on #53
I tried this with the repo HEAD and I get an error - `graph.label is not a function`

If I add this block it works:

[code]

[2015-12-20 01:26] spiermar commented on #53
That's strange. The function should be there already.

https://github.com/spiermar/d3-flame-graph/blob/master/src/d3.flameGraph.js#L404

Well, if it works, great!

[2016-01-17 13:12] ceeaspb opened #58 "tooltip word wrap"
to be able to view long frame names

[2016-01-17 13:48] ceeaspb opened #59 "constructor exported from jfr not shown in tooltip"
flamegraph data exported using https://github.com/chrishantha/jfr-flame-graph
writes constructors as : `ClassName.<init>(args)`
the tooltip does not display the "`<init>`" part, so it's not immediately clear what method has been called. (the flamegraph itself does display it if there is space).

not sure what perf-map-agent writes constructors as.

[2016-01-18 14:13] ceeaspb opened #60 "top of tallest stack not visible"
How to size the height of the flamegraph so that the highest stack will be visible.

[2016-01-18 18:05] kjellmf commented on #60
You can find an example on how to adjust the height of each stack item automatically here: http://bl.ocks.org/kjellmf/c0cefee8d9572bb99012

[2016-01-18 18:09] kjellmf commented on #60
This example demonstrates how to adjust the height of the flame graph automatically based on the deepest stack and the cellHeight attribute: http://bl.ocks.org/kjellmf/c0cefee8d9572bb99012#index.html

[2016-08-10 07:09] rickywu-posh opened #62 "the name on bar lost with some browsers"
the name on stack bar will appear when using Chrome, Firefox and Opera, but **_lost_** when using Safari or Leibao or some other browsers.

[2016-12-27 19:29] Restuta opened #64 "Upgrade to D3 V4"
D3 v4 is finally hear with perf improvements and breaking changes, upgrade to it would mean major version bump.

[2016-12-27 22:28] Restuta opened #65 "Bad Performance on large trees"
We are trying to visualize TeamCity build logs and tree can easily reach 3-5mb in size, original implementation of this lib we tried yielded 30-45seconds to build it, so I digged deeper with chrome profiler and found out that 95% of time is spent in `colorHash` function and 99% of it in native Regex, so I commented two lines:

[code]

and it rendered graph in 2s with same result for us, since I am

[2017-02-04 22:42] vboulaye opened #66 "bower dependency main files"
I tried to use d3-flame-graph as a bower dependency but apparently there are some inconstancies in the project description that prevent it to work properly:
- the main files in bower.json and package.json refer to src/d3.flame.js while the file is called d3.flameGraph.js, the css file is also missing from the bower main
- bower tries to install a 0.4.3 version because the tag exists but  the versi

[2017-03-24 01:21] ebpitts opened #67 "Upload 0.4.3 to NPM"
Hi,

I see you tagged 0.4.3  on Aug 22, 2016 but the latest version on [NPM](https://www.npmjs.com/package/d3-flame-graph) is 0.4.2. Could you upload 0.4.3 to NPM, please?

[2017-04-28 14:44] sam-mccall commented on #64
I took a stab at this in #68.

[2017-06-15 22:46] #64 closed

[2017-06-15 22:50] spiermar commented on #67
Done! https://www.npmjs.com/package/d3-flame-graph

[2017-06-15 22:50] #67 closed

[2017-06-15 22:54] #66 closed

[2017-06-27 21:23] ebpitts commented on #67
Thanks!

[2017-07-21 23:35] brendangregg opened #71 "click to merge frames"
Sometimes towers are split needlessly due to two paths to the same child code.

[2017-08-03 18:24] #65 closed

[2017-08-03 18:26] spiermar commented on #65
@Restuta I've removed the regex replaces and this _should_ be faster in most browsers. Let me know how that performs in you tree.

[2017-08-09 22:20] #60 closed

[2017-08-10 06:17] spiermar opened #73 "icicle graph"

[2017-08-10 06:18] spiermar opened #74 "configurable color function"

[2017-08-10 20:00] spiermar opened #75 "drop dependency on lodash"
We're only using the `find` function, and only once.

[2017-08-10 20:04] spiermar commented on #58
Adding `white-space: pre-line;` or `white-space: pre-wrap;` to the tooltip content CSS class should help with this.

[2017-08-10 20:22] #75 closed

[2017-08-10 21:32] spiermar opened #76 "use travis-ci to build, test and update npm"
See https://gist.github.com/willprice/e07efd73fb7f13f917ea

[2017-08-10 22:12] spiermar commented on #30
See https://github.com/romario13/d3-flame-graph/commit/1419e961062fd34f39f529d4acf1f7577898c484

[2017-08-13 17:35] spiermar opened #77 "support for minified json"

[2017-08-18 00:14] #26 closed

[2017-09-02 16:15] samber opened #78 "Malformed graph"
Hi guys,

With the following sample: https://gist.github.com/samber/687635ed77a16bf158b9b2cff303776f

I get the following graph:

![screenshot 2017-09-02 18 02 01](https://user-images.githubusercontent.com/2951285/29996975-e19a1a1a-9008-11e7-9df1-67bc5a6f7060.png)

Then, when I click on frames to zoom/unzoom:

![screenshot 2017-09-02 18 00 46](https://user-images.githubusercontent.com/2951285/2999

[2017-09-07 23:10] spiermar commented on #78
I've noticed it happen a few times and thought it was fixed in the latest version. Can you confirm you're using 1.0.6?

[2017-09-07 23:11] spiermar commented on #78
https://github.com/spiermar/d3-flame-graph/commit/b39bdf88f477efb13bbeebaf846235cd2029d8c9

[2017-09-08 05:24] samber commented on #78
Yes, I'm using 1.0.6

[2017-09-08 06:59] spiermar commented on #78
I'll check the sample data you've shared and do some debugging, but it might take a few days.

[2017-09-08 08:20] samber commented on #78
Thanks for your help!

FYI, I'm integrating your lib into a Grafana panel, for live profiling => https://github.com/samber/grafana-flamegraph-panel

I will keep you informed after a stable release.

[2017-09-09 01:11] spiermar commented on #74
Color function is already configurable. Just need to document it. Possibly include a few other functions or function examples that cover the color hashes in the current perl version.

[2017-09-13 14:50] wilkerlucio opened #79 "Zooming out display different result than original"
Hello, I found this problem when using the zoom feature, check this example gif (keep an eye at the `:some_300` item:

![Demo](https://media.giphy.com/media/3o7aCQ1eQuagCBp8cM/giphy.gif)

It starts with space, but then when it contracts it changes.

Here you can find the used data: https://github.com/wilkerlucio/d3-in-action-storybook/blob/master/public/data/om-bogus-run.json

And the demo source:

[2017-09-20 18:27] spiermar commented on #79
Seems related to #78  and caused by the ids. Will check.

[2017-09-20 21:44] spiermar opened #80 "change node internal value behavior to match d3.hierarchy behavior"

[2017-09-20 21:45] spiermar commented on #78
@samber found the root cause of the issue. It's being caused by the value of items. In the sample you shared, the non-leaf node `value` represents only the internal value of that node, while the plugin expects it to be it's own value + sum of all children. That's not well documented, and also not standard on d3.hierarchy. I was considering changing this behavior, but was avoiding it since it's a b

[2017-09-20 21:45] #78 closed

[2017-09-20 21:55] spiermar commented on #79
@wilkerlucio not related to the previously mentioned bug. For some reason, the items outside the zoom stack are loosing their values. Should get this fixed shortly.

[2017-09-20 23:32] spiermar commented on #79
@wilkerlucio https://github.com/spiermar/d3-flame-graph/commit/cbeb86a5e0008d6d5425d90f8c30aacd3994ba8c should fix this issue. Can you try with 1.0.10?

[2017-09-20 23:39] #79 closed

[2017-09-20 23:39] #77 closed

[2017-09-20 23:43] #9 closed

[2017-09-20 23:46] spiermar commented on #74
Implement function that uses different hues for different types of stack (java, node, c++, etc). check [bgregg's blog](http://www.brendangregg.com/blog/2017-07-30/coloring-flamegraphs-code-type.html).

[2017-09-20 23:50] spiermar commented on #51
Done on https://github.com/spiermar/d3-flame-graph/commit/ea645fec38cb9c8e7dfa744710e38ea9bc6badb7.

[2017-09-20 23:50] #51 closed

[2017-09-20 23:50] wilkerlucio commented on #79
@spiermar after updating to 1.0.10 my build is not working anymore, when I require the `d3-flame-graph` it complains it can't require `d3` 🙄. This project of mine is using react storybook, I'll try to reproduce in a cleaner setup later.

[2017-09-20 23:51] spiermar commented on #54
Significantly improved with minFrameSize option. Should be good for the vast majority of use cases.

[2017-09-20 23:51] #54 closed

[2017-09-20 23:58] spiermar commented on #79
I'm using it in a React component here. Here's an [example](https://gist.github.com/spiermar/bdcf1a0f5e641f52c2e455f875b62a31).

[2017-09-20 23:59] spiermar opened #81 "convert to ES7"

[2017-09-22 11:09] wilkerlucio opened #82 "Can't compile with react app since 1.0.9"
I'm trying to compile the library, but since version 1.0.9 it is not working. Steps to reproduce:

1. Start a new react app with `create-react-app flame-app`
2. Add d3 flame graph: `yarn add d3-flame-graph`
3. Modify the `App.js`, add this line: `import flameGraph from 'd3-flame-graph';`
4. Run the app: `yarn start`

When I do those steps I get this:

<img width="838" alt="screenshot 2017-09-22 08

[2017-09-22 12:23] wilkerlucio commented on #82
I did some debug and pinpointed the issue, and it's this change: https://github.com/spiermar/d3-flame-graph/commit/8aff213aa8adba368909043607af49ad21dd557c#diff-9e761e117f17a72fdc562d3ef4ab6a6dL97

By removing the `var`, the webpack builder is not working anymore, I tried hacking my `node_modules` and just adding the `var` back makes it work.

[2017-09-22 12:24] wilkerlucio commented on #82
And by way, after that, the zoom issue got fixed as you said, on `1.0.10` :)

[2017-09-22 21:26] spiermar commented on #82
Need some testing there. ;-) I've been procrastinating rewriting the module part (which is terrible now). I'll try to get this soon. Closing this issue and opening a new one to track the React issue.

[2017-09-22 21:26] #82 closed

[2017-09-22 21:26] spiermar opened #83 "react import not working since 1.0.9"

[2017-09-22 22:58] wilkerlucio commented on #83
Just one thought, I think it's more accurate to say this is an issue with babel builder than it is with React, the build process is broken, the React integration is fine, but it's just an opinion ;)

[2017-09-28 00:12] jschyma opened #84 "Text on the bars missing when using Internet Explorer"
If you use this flame graph in the internet explorer (not edge) the texts on the bars are not shown.
You can recreate the issue with the standard samples http://martinspier.io/d3-flame-graph/live.html

The problem is, that IE does not support the<foreignObject> Element.
Can this be fixed?

[2017-10-16 16:00] Krinkle opened #85 "Label class conflict with Bootstrap"
Since some time, the XHGui project uses d3.flameGraph (https://github.com/perftools/xhgui/pull/177) but it seems the styles are clashing with Bootstrap's CSS.

For example, at <https://performance.wikimedia.org/xhgui/run/flamegraph?id=59d4a64e3f3dfacf5dccbf27> you'll notice Bootstrap's styles for `.label` are adding an unwanted text-shadow that makes the text harder to read (https://github.com/per

[2017-11-10 03:18] Krinkle commented on #85
@spiermar Would you accept a pull request renaming the class name from `label` to `d3-flame-graph-label`?

[2017-11-10 17:32] spiermar commented on #85
@Krinkle gladly!

[2017-11-10 18:01] spiermar commented on #84
I managed to start a VM with IE and reproduce the error. Problem is that IE does not support `foreignObject`, which is what holds the `rect` label. At this moment, I have no workaround for it. Unless someone comes up with a replacement for `foreignObject`, I'm afraid this will not work.

[2017-11-10 18:03] #84 closed

[2017-11-12 17:52] #85 closed

[2018-02-03 20:55] vasyl-shumskyi opened #88 "Upside-down Flame Graph"
Hello,

How to make flame graph upside-down? Like so:

![flame_graph](https://user-images.githubusercontent.com/2331802/35771419-3c15dcfe-0935-11e8-976f-9666bdb1755a.png)

Thanks!

[2018-02-03 21:34] vasyl-shumskyi opened #89 "How to build data.json from pathes?"
Hello,

How to build with Node.js or Vanilla js`data.json` acceptable by flame-graph from paths and sizes arrays like

[code]

Let's assume I got file paths and sizes like
[code]

and I need to create following nested `data.json` object based on them:
[code]

Thanks!

[2018-02-04 18:32] spiermar commented on #88
It's a feature request right now. https://github.com/spiermar/d3-flame-graph/issues/73

[2018-02-04 18:32] #88 closed

[2018-02-04 18:38] spiermar commented on #89
What profiler generates this file format? Generally for Node.js, I use `perf` and a small CLI tool I've created ([burn](https://github.com/spiermar/burn)) to convert the output to a JSON hierarchical structure that can be parsed by the D3.js plugin.

[2018-02-05 08:32] vasyl-shumskyi commented on #89
Am getting pathes and sizes from native node.js `fs.readdir`, `fs.stat`,  `path.join`

[2018-02-05 10:40] vasyl-shumskyi commented on #88
Great. Thanks @spiermar

Hopefully it will be implemented soon...

Reversed flame graphs (or icicle graphs) will solve the issue when main graph is not visible at all and help to clean up lots of useless white space like here:
http://martinspier.io/public/pprof_flame.html

[2018-02-05 14:16] vasyl-shumskyi commented on #73
Looks like its already supported via `.reversed(true)`, not documented? ;-)

https://github.com/spiermar/d3-flame-graph/pull/52/commits/787f1714f02d75b176f3c151139abfadbcc17ab7

[2018-02-05 15:27] vasyl-shumskyi opened #90 "How to change color?"
Hello,

How to change color of specific rectangular?

It would be very cool if we can specify color for each rectangular (based on `name` or `value`) like so:
[code]

Thanks!

[2018-02-05 17:41] spiermar commented on #73
@vasyl-shumskyi feature is broken since a previous refactor. Did you managed to get to work as expected?

[2018-02-05 17:46] spiermar commented on #90
This is related to https://github.com/spiermar/d3-flame-graph/issues/74. With a configurable color function, it should be possible to take a value from the data structure to choose a color.

[2018-02-05 17:46] #90 closed

[2018-02-05 17:47] vasyl-shumskyi commented on #73
Yeah. I have no issues with latest `1.0.11`

I don't know if its related, but in example there was older release used `d3-flame-graph@1.0.4`
I replaced `1.0.4` earlier with latest `1.0.11` release to fix `minFrameSize` support. Maybe this change auto-fixed `.reversed(true)` as well?

[2018-02-05 17:49] spiermar commented on #89
So it's a custom profile format. You probably need to write your own converter, similar to [burn](https://github.com/spiermar/burn).

[2018-02-05 17:49] vasyl-shumskyi commented on #74
@spiermar how can i use it? :)

[2018-02-05 17:50] spiermar commented on #73
We don't use the reversed graphs here, so I haven't tested it recently, but I'll check and close the issue if that's the case. Tks.

[2018-02-05 17:50] vasyl-shumskyi commented on #89
Already did. Thanks. Closing this for now.

[2018-02-05 17:50] #89 closed

[2018-02-05 17:52] spiermar commented on #74
Just pass the function to the `color` property.

https://github.com/spiermar/d3-flame-graph/blob/master/src/d3.flameGraph.js#L580

[2018-02-05 17:53] vasyl-shumskyi commented on #73
Got it. Added screenshot above.

[2018-02-05 17:54] spiermar commented on #74
Function should be similar to this:

[code]

Where `d` is the node that can contain a `color` property for example.

[2018-02-05 17:55] vasyl-shumskyi commented on #74
Awesomeness! Ty ty.

[2018-02-05 18:04] vasyl-shumskyi commented on #74
Not works for me. Tried to add `blue` color via `.color("#0000FF")`

Error:

[code]

Screenshot:

<img width="1440" alt="screen shot 2018-02-05 at 20 00 57" src="https://user-images.githubusercontent.com/2331802/35820858-a4ee8ff2-0aaf-11e8-8394-cad4a8f2a141.png">

Did I miss anything?

[2018-02-05 18:05] spiermar commented on #74
Can you share the full function?

[2018-02-05 18:36] vasyl-shumskyi commented on #74
I think I'm not quite sure where exactly this should be done.

First time I changed to `index.html` as

[code]
Which turned out to be black chart.

Then I've tried to add this to `d3.flameGraph.js` to `flameGraph()` function, since it was missing the color:

[code]

And lastly I tried to add it as `.color` property in `d3.flameGraph.js`

[code]

[2018-02-05 18:50] spiermar commented on #74
You don't have to change the `d3.flameGraph.js` file for this. First option was in the right direction, but since it was fixed color, it was all back.

Assuming you have a data structure similar to this:

[code]

The configuration should be similar to this:

[code]

Highlight will not work in this case, but you get the idea.

[2018-02-05 19:02] vasyl-shumskyi commented on #74
Oh, I didn't know i need to change data structure for that. It's clear now why it wasn't working. Will give it a try, since it seems to be very flexible solution.

Is there any way we can change pre-generated brown/red/orange/green palette without changing data structure and keep highlighting?

<img width="1049" alt="screen shot 2018-02-05 at 19 52 05" src="https://user-images.githubusercontent.co

[2018-02-05 19:11] spiermar commented on #74
It's a pretty flexible function, you can return whatever color you want. My assumption, based on issue #90 was that you wanted to define a color for each node in the data structure. If you want something more dynamic, check the `colorHash` function, write your own and pass it to the chart in the `color` function.

[code]

[2018-02-05 19:33] vasyl-shumskyi commented on #74
Yeah. I need some nodes to be in specific colors based on data type. So adding a color directly to dataset helped a lot!

Regarding above solution - looks like `d3.flameGraph.js` loading _after_ inline script because of async nature. So I'm getting not defined errors for `colorHash` and `name(d)` while adding below code to `index.html`

[code]

Will try to tackle this. And thanks for the hints on

[2018-02-05 21:15] vasyl-shumskyi commented on #74
I tweaked a bit `colorHash(name)` and `colorMapper` in `d3.flameGraph.js` and got exactly what I needed! Thanks again!

[code]

[code]

<img width="978" alt="screen shot 2018-02-05 at 23 06 19" src="https://user-images.githubusercontent.com/2331802/35828799-82e7a92e-0ac9-11e8-90d5-090864281fd5.png">

[2018-02-06 01:07] #73 closed

[2018-02-06 01:08] spiermar commented on #73
@vasyl-shumskyi change the property name to `inverted` for clarity.

[2018-02-06 01:31] spiermar commented on #83
Use `rollup` as suggested in https://bost.ocks.org/mike/d3-plugin/

[2018-02-06 01:41] spiermar commented on #59
Can't reproduce anymore. Likely fixed during previous label function refactor.

[2018-02-06 01:41] #59 closed

[2018-02-06 01:44] spiermar commented on #62
Can't reproduce with Safari.

[2018-02-06 01:44] #62 closed

[2018-02-06 06:40] vasyl-shumskyi commented on #73
@spiermar got it. Thanks for the fix :)

[2018-02-08 15:10] vasyl-shumskyi opened #91 "How to load d3 data from local variable but not from file"
Hello,

How to load d3 data from local variable instead of external `data.json` file?

Right now we are having following code to load json data:

[code]

But I'm not quite sure how to change this fo json object stored in local variable.

Thanks as always!

[2018-02-08 16:53] vasyl-shumskyi opened #92 "d3-tip Uncaught TypeError: Cannot read property 'target' of null in Node.JS"
Hello,

I'm using d3-flame-graph with node.js. And d3-tip seems not working correctly. When I'm hovering elements, I'm receiving following error:

[code]

The tooltip itself rendering fine and with correct numbers, but isn't centered and always displayed in upper left corner. See screenshot:

![screen shot 2018-02-08 at 18 44 08 copy](https://user-images.githubusercontent.com/2331802/36022745-c485

[2018-02-09 10:00] vasyl-shumskyi commented on #92
Changing `tip.show(d)` to `tip.show(d, this)` fixed the issue.
https://github.com/spiermar/d3-flame-graph/blob/master/src/d3.flameGraph.js#L388

[2018-02-09 10:44] vasyl-shumskyi commented on #91
Seems to figure it out after.

We just need to remove file wrapper function

[code]

As simple as that. The simplest things are hardest ones :)

[2018-02-11 04:04] #91 closed

[2018-02-11 16:41] vasyl-shumskyi opened #93 "How to change frame value with flameGraph.onClick"
Hello,

I am trying to change frame attribute (value) with `flameGraph.onClick` via setting it to 0.
And rebuild graph subset afterwards.

[code]
[code]

What is the best way to approach this?

Thanks!

[2018-02-11 16:59] vasyl-shumskyi opened #94 "Add function to format text inside frame"
Is it possible to format text inside frame? Similar to `flameGraph.label()` function.

Thanks!

[2018-02-12 08:05] vasyl-shumskyi commented on #93
Had to customize `d3.flameGraph.js` module for this
[code]
Still trying to figure out how to get _right click_

[2018-03-30 17:09] spiermar commented on #81
Fixed on 08b21995860f0368eaee8480fd5eec803def9107

[2018-03-30 17:09] #81 closed

[2018-03-30 17:09] spiermar commented on #74
Fixed on 500bedf4297d6dd594fdda1a77e285a9bd83b2fd

[2018-03-30 17:09] #74 closed

[2018-03-30 17:10] spiermar commented on #83
Fixed on 08b21995860f0368eaee8480fd5eec803def9107

[2018-03-30 17:10] #83 closed

[2018-03-30 17:21] #92 closed

[2018-03-30 17:28] spiermar commented on #94
Not right now, but should be simple to add a configurable function to https://github.com/spiermar/d3-flame-graph/blob/master/src/flamegraph.js#L332

[2018-04-24 18:58] leventov opened #97 "--reverse option"
It would be nice to support an equivalent of the original flamegraph's `--reverse` option: see https://github.com/brendangregg/FlameGraph/blob/a8d807a11c0f22871134324bda709618ca482b58/flamegraph.pl#L119.

It's not the same ask as #73, which is turning the graph upside down, but changing the principle of stack summation.

[2018-05-07 13:13] leogomes commented on #97
+1

[2018-05-07 13:13] vasyl-shumskyi opened #98 "Chart randomly builds only 3 levels"
Hello,

I'm using your awesome module with node and chrome engine.

I've noticed quite strange behavior which I'm not able to fix.

From time to time (maybe in 10% situations) chart randomly builds only fixed number of levels. Usually 3 or 7.

<img width="982" alt="screen shot 2018-05-07 at 15 57 11" src="https://user-images.githubusercontent.com/2331802/39703187-e377417c-520f-11e8-9a92-d420afa1ae

[2018-05-07 20:46] vasyl-shumskyi commented on #98
I think it may happen when `.height` is not set. Once i set `.heigth` big enough -
[code]
Quite strange..

[2018-07-18 06:08] hdattada opened #100 "Usage in Node.js"
I am trying to add the chart to Kibana through a plugin using AngularJS. Is there an example on how can I use this in a node.js file?

I tried to put this in the controller
[code]

I get a

Uncaught TypeError: d3.flameGraph is not a function

[2018-07-26 20:18] spiermar commented on #98
Strange indeed. If height is not set, it should default to 2 times the number of rows.

https://github.com/spiermar/d3-flame-graph/blob/master/src/flamegraph.js#L402

Might be a problem with d3.partition and the height() function.

Closing the issue for now since you found a workaround. Please reopen if necessary.

[2018-07-26 20:18] #98 closed

[2018-07-26 20:32] spiermar commented on #97
This mostly involves changing of the data structure the plugin is rendering, not how it's rendering it, so I rather keep this feature in the tools that parse the stacks and generate the callgraph, instead of the d3 plugin.
I might be wrong, but without looking too deep into the code, I don't even think it's possible to generate the `--reverse` callgraph out of the original callgraph. There's no wa

[2018-07-26 20:34] spiermar commented on #100
[This](https://github.com/Netflix/flamescope/blob/master/src/components/FlameGraph/FlameGraph.jsx#L24) might help.

[2018-07-26 20:51] spiermar opened #102 "upgrade dependencies and update readme for 2.0"

[2018-08-31 20:59] #102 closed

[2018-08-31 21:00] spiermar commented on #100
Assuming the issue was resolved. Closing.

[2018-08-31 21:00] #100 closed

[2018-09-07 18:03] spiermar opened #103 "differential flame graphs"
See http://www.brendangregg.com/blog/2014-11-09/differential-flame-graphs.html

[2018-09-07 18:09] spiermar commented on #97
It could be documented example about how to create the reversed flame graph out of the original profile. Could also be a feature on [burn](https://github.com/spiermar/burn).

[2018-09-18 21:23] wonder-mice opened #105 "zoom-in feature doesn't animate frame expansion to the right"
It looks like zoom-in animation is broken for d3-flame-graph from master/dist. In this simple example, when clicking on SubName02, it's right edge jumps immediately to the right, while left edge animates smoothly to the left. This doesn't happen with older flameGraph script.

[code]

[2018-09-19 21:46] spiermar commented on #105
@wonder-mice when you say "older", which version are you referring to?

[2018-09-19 21:47] #103 closed

[2018-09-19 22:01] wonder-mice opened #106 "maximum call stack size exceeded error with large number of nodes"
Error is here:

[code]

At this line:

`var maxDepth = Math.max.apply(null, descendants.map(function (n) { return n.depth }));`

I have 65763 nodes with max depth around 238.

[2018-09-19 22:01] wonder-mice commented on #106
Probably this:
https://stackoverflow.com/a/13440842/506566

[2018-09-19 22:06] wonder-mice commented on #105
The one that is in examples:
https://cdn.jsdelivr.net/gh/spiermar/d3-flame-graph@2.0.0/dist/d3-flamegraph.min.js

Based on your question looks like you can NOT reproduce it, correct?

[2018-09-19 22:12] spiermar commented on #105
I noticed the behavior, but it's a very subtle difference, so wondering when did it start. Not many changes since 2.0.0, so my assumption is that it might be related to the d3 upgrades on 2.0.1.

[2018-09-19 22:16] wonder-mice commented on #105
Subtle? :) I noticed it immediately, it's so irritating.

[2018-09-19 22:17] wonder-mice commented on #105
Not sure we are talking about the same thing...

[2018-09-19 22:28] wonder-mice commented on #105
[flamenotflaming.mov.zip](https://github.com/spiermar/d3-flame-graph/files/2398912/flamenotflaming.mov.zip)

[2018-09-19 22:36] wonder-mice commented on #105
I was wrong, it's broken here as well:
https://cdn.jsdelivr.net/gh/spiermar/d3-flame-graph@2.0.0/dist/d3-flamegraph.min.js

Here where it works better:
https://cdn.jsdelivr.net/gh/spiermar/d3-flame-graph@1.0.4/dist/d3.flameGraph.min.js

[2018-09-19 22:50] spiermar opened #107 "delta only option for differential flame graphs"

[2018-09-19 22:58] spiermar commented on #105
I see the same behavior, just never noticed when it changed. I generally set my animations to be much faster than the demo. It was either a change in d3 like I mentioned before, or the way zoom is hiding the frames. I'll have to test a few things to narrow it down.

[2018-09-19 23:00] wonder-mice commented on #105
I'm using the same d3 version with d3-flame-graph@2.0.0/dist/d3-flamegraph.min.js and d3-flame-graph@1.0.4/dist/d3.flameGraph.min.js though (just saying).

[2018-09-19 23:03] spiermar commented on #105
There are a few commits from Aug 17, last year that touch this functionality. If 1.0.5 doesn't work, one of those is probably the culprit.

[2018-09-19 23:11] wonder-mice opened #108 "Poor performance on large data sets"
With large data sets (more than 100000 nodes, depth around 300) performance is very poor. Even on relatively fast machine it's close to unusable. My naive assumption is that flame graph creates all d3 nodes up front and browser just can't render that much responsively.

It would be nice to optimize this. E.g. when node width is less than 1px (or some other value), render a placeholder box that rep

[2018-09-19 23:12] wonder-mice commented on #105
Yes, 1.0.5 is broken.

[2018-09-19 23:30] spiermar commented on #105
I'll have a look as soon as I finish working on couple other items on my list.

[2018-09-19 23:31] spiermar commented on #108
There's an option for that, exactly for that reason. Check `minFrameSize` to see if it helps. My default is generally 5px.

[2018-09-20 00:03] wonder-mice commented on #108
Oh, that's nice, missed that. Animations are a bit wonky, but I hope it's because of the other bug.

[2018-09-20 00:03] #108 closed

[2018-09-20 04:37] wonder-mice opened #109 "tooltip can go offscreen for rightmost and leftmost nodes"
In certain cases part of tooltip will be obscured by browser window.
<img width="400" alt="tooltip" src="https://user-images.githubusercontent.com/1161846/45796191-32c75880-bc54-11e8-81df-be50f908c07a.png">

[2018-09-20 04:40] wonder-mice opened #110 "Node selection doesn't work reliably"
It's very hard to select node's text to copy it in clipboard. Either node is clicked or several nodes are selected. It would be nice to be able to copy-paste interesting nodes to share them via messenger or email.

[2018-09-20 16:30] wonder-mice opened #111 "sort() seems not to work"
I tried `flamegraph.sort(true)` and passing different functions as well (I want to sort by `value` and/or `delta`). With just `flamegraph.sort(true)` it should be sorted by names, but nodes are sorted as `["N", "b", "a", "S"]` - I don't think it's sorted in any way. I'll attach some sample soon.

[2018-09-20 17:59] wonder-mice commented on #110
Oh, sorry, didn't see you renamed the title (renamed it back), thought it was me who come up with this title and decided to make it more clear %)

[2018-09-20 18:07] spiermar opened #112 "better internal function names"
For `name`, `label`, `value`, `children` and `libtype`

[2018-09-20 18:14] spiermar opened #113 "differential flame graph example"

[2018-09-20 18:16] spiermar commented on #110
Might try to tie this to https://github.com/spiermar/d3-flame-graph/issues/93. Can create a right click handler and default it to copy the node name.

[2018-09-20 18:47] spiermar commented on #110
The last option is fairly simple to implement right now. The click handler can be changed to zoom and set the text of another element, or copy. The example page right now prints the name to the console.
The tooltips are attached to `mouseout` and `mouseover` events on each `rect`. I don't have a better idea right now on how to change this behavior and allow for mouse over the tooltip.
Changing the

[2018-09-20 19:37] #30 closed

[2018-09-20 20:00] spiermar commented on #110
Possibly related to #21 and #94

[2018-09-20 20:39] #113 closed

[2018-09-20 21:27] #105 closed

[2018-09-20 21:28] spiermar commented on #105
@wonder-mice let me know if that works

[2018-09-20 22:58] wonder-mice commented on #105
Thanks, it's much better now. That said, it's still looks wonky.
[flameanim.mov.zip](https://github.com/spiermar/d3-flame-graph/files/2403334/flameanim.mov.zip)

I'm not sure how much efforts you are willing to contribute to make it perfect though. If you are interested in improving it, I can formalize what I don't like about current behavior.

[2018-09-21 00:43] spiermar commented on #105
There are several small adjustments that could be made, like the text outside the frame rectangle when zooming in and out. Some very simple, some that require larger changes. Like all other enhancements, I'll work on them when I get the time and based on project needs and how much I believe users would benefit from it. If you have something specific in mind, feel free to submit and either me or so

[2018-09-21 19:21] wonder-mice commented on #111
Since I'm a noob in JS, to me it looks like there are two issues:

- Calling `flamegraph.sort(true)` after `d3.select("#chart").datum(data).call(flamegraph)` will take effect only after clicking on some node.
- Sorting function seems work when sorting by `x.name` or anything in `x.data`, but it seems like I can't sort using `x.value`.

In attached example I'm trying to apply following sorting func

[2018-09-21 19:38] wonder-mice commented on #109
Just want to add, that this one is almost a blocker for me. I have large data sets with long names and tooltips always go over left edge or under the bottom edge.

[2018-09-21 19:41] wonder-mice commented on #111
No, I think it's not that simple. See attached video with attached sample. Two problems here:

1. On first click you can see how nodes rearrange. In my understanding it shouldn't happen.
2. On last click when I go back to root, I click on root two times. Second click supposed to do nothing, but it causes nodes to be rearranged.

[flamesorting.zip](https://github.com/spiermar/d3-flame-graph/files/2

[2018-09-21 21:10] wonder-mice commented on #111
Maybe I don't understand how it supposed to work. My assumption is that sorting only applies to nodes with the same parent AND on the same level. My current workaround is to sort when generating data. Though it would be nice to be able to specify different sorting orders once html is generated.

[2018-09-23 21:57] wonder-mice opened #114 "allow to provide custom getValue() and getDelta() functions"
I have a huge data set that I embed in html as json object that follows d3-flamegraph specification. I also add several custom fields to it, such as syscall count, vmfault count, etc. I would like to have an easy way to choose what subset of data to display in a flame graph, preferably without regenerating the whole data structure (e.g. now I'll need to traverse the whole tree to place what I want

[2018-09-23 22:05] wonder-mice commented on #114
I assume I can to something like:
[code]

but that seems not to work. Looks like some parts of the code access .v|.value fields directly, because when I do:

[code]

Nodes width is still computed based on .v/.value. Maybe I'm doing something wrong though...

[2018-09-24 01:53] wonder-mice commented on #114
OMG, I'm a JavaScript hacker :)
This seems to make it work:
https://github.com/wonder-mice/d3-flame-graph/commit/60c3415e162710ae9f0b949d5820b0f539b8707f

[2018-09-26 01:29] trask commented on #109
Hi, I just ran into this also (via https://github.com/glowroot/glowroot/issues/457) and wanted to share my solution (not sure if it's optimal or not).

Here's my patch for d3-tip: https://github.com/trask/d3-tip/commit/66ad693feba6d6c698db1429908ccda580e4ec6b

And here's the (minor) patch for d3-flame-graph: https://github.com/trask/d3-flame-graph/commit/234e52be6e13f0d5c4ee093b14e66b2cd64e46e4

I

[2018-09-26 16:57] spiermar commented on #109
@trask I like the solution. Changing the direction when close to the border. Having said that, the only `d3-flame-graph` changes are in the CSS. All the JavaScript changes are in the `d3-color` and `d3-tip` dependencies apparently, so it would be a matter of having the changes accepted there. I would open a PR to `d3-tip` anyway, because it's a common issue and the maintainers probably had to deal

[2018-09-26 22:44] wonder-mice commented on #114
https://github.com/spiermar/d3-flame-graph/pull/115

[2018-09-28 01:15] wonder-mice opened #117 "when zooming in, there should be no need to mark all nodes as hidden"
I noticed that d3-flame-graph casually traverses the entire data structure for different reasons. This makes many operations slower than it would be desired.

Specifically, when zooming in, it should be enough to mark nodes on the same level as zoomed node as hidden and when such flag is set, return null from getChildren().

[2018-09-28 02:05] spiermar commented on #117
Possibly, feel free to submit a PR. :)

[2018-09-28 03:29] wonder-mice commented on #114
I would like to rename `getValue` and friends to reflect on what they operate on. Some of them work with data nodes (like `getValue`), while other work with d3 nodes (like `getDelta`). Is there any established terminology to distinguish them?

[2018-09-28 03:44] spiermar commented on #114
Not that I'm aware of, but open to suggestions.

[2018-09-28 04:50] wonder-mice commented on #114
Looks like found a "bug" - `getChildren` is used both with d3 nodes and with data nodes.

I suggest to name d3 nodes "nodes", since they are named that way all over d3 source code. Data nodes I would suggest to call 'items". Thus `getItemValue`, `getNodeDelta`, etc.

[2018-09-28 05:58] wonder-mice commented on #117
Btw, what are the benefits of using d3? I though the idea is to handle large data sets with ease, but all d3 examples I'm looking at are super slow even on small data sets. E.g. if I just create `div`s for each node manually, will it be better or worse?

[2018-09-28 06:02] wonder-mice commented on #114
Should default `labelHandler` show "self" value of a node or exact value provided in data object? It looks like currently it uses `node.value` which is always node's self value, since it's populated in `update()` function when calling `root.sum()`. It doesn't look like it's expected from default `labelHandler` - I would expect it to show what I provided in data.

[2018-09-28 16:37] spiermar commented on #117
Bit more complicated than that I believe, but sure, there are other options that _might_ perform better in certain cases, just a lot more heavy lifting to be done.

[2018-09-28 17:02] #76 closed

[2018-09-28 17:02] wonder-mice commented on #117
That's exactly what I'm curious about. What this heavy lifting is and how heavy is it. I know that from outside every project/code looks trivial and simple, so I'm trying to understand what I'm missing.

[2018-09-28 17:07] wonder-mice commented on #114
I guess I misread the `node.sum()` function in `d3`. Looks like `node.value` is total node value, including its children. However, passed function must return node's self value, which we compute by subtracting child nodes, which they add back in `node.sum`...

[2018-09-28 17:13] wonder-mice commented on #114
Ah, I see, we need this trickery for `if (d.fade || d.hide)` to adjust `node.value` for zoom mode.

[2018-09-28 17:58] wonder-mice commented on #114
When clicking on node to zoom in, this changes value in tooltip for all nodes on the path to clicked node:
http://martinspier.io/d3-flame-graph/

I think tooltip label shouldn't use `node.value`, `node.value` it's just defines node'a width on the chart and can be unrelated to item's data (e.g. nodes can be played out in log scale).

[2018-09-28 18:07] wonder-mice commented on #111
I think I know why it's broken. Two reasons:

1. `sort()` is called before `.sum()`
2. `node.value` is adjusted based on selection and shouldn't be relied on for any other purposes than node width

[2018-09-28 18:07] wonder-mice commented on #111
So, I guess it's not broken at all, but I'll leave it open for now to verify.

[2018-09-28 20:20] spiermar commented on #114
Saw that now.

[2018-09-28 20:30] wonder-mice commented on #114
No, value is computed by `node.sum()` and will change by zooming.

[2018-09-28 20:40] spiermar commented on #114
When zooming, yes, but that was the intended effect. Having said that, it always bugged me, because I lose the notion of relative size when zooming. Might be a good time to change it. Let me check with Brendan what his thoughts are.

[2018-09-28 20:48] wonder-mice commented on #114
I think `node.value` must have no relation to item's value, other than it should establish desired proportions of nodes in chart. Then it'll be easier to implement log scales and other effects. It'll also allow for some optimizations when computing these values.

[2018-09-28 20:54] spiermar commented on #114
I think its important to differentiate between them, either by different functions or something else, but access to both is important for different use cases.

[2018-09-28 20:55] wonder-mice commented on #114
What is the use case for `node.value` other than node's width?

[2018-09-28 20:56] spiermar commented on #114
Exactly when I need to know the node's width.

[2018-09-28 21:35] spiermar commented on #114
@wonder-mice prefer to treat those changes as a separate PR?

[2018-09-28 22:16] wonder-mice commented on #114
Don't accept any PR from me for now. I need to rework the patch set, found other issues.

[2018-09-28 22:45] spiermar commented on #114
Ok, I'll wait for the new PR.

FYI, I'll be traveling next week, so there might be some delay on my response after Sat evening.

[2018-09-29 19:55] wonder-mice commented on #107
I'm not sure what the plan is here, but will not it be addressed by allowing custom `getDelta`/`getValue` callbacks?

[2018-09-29 19:58] wonder-mice opened #118 "getChildren() is used for nodes, should only be used for data items"
Currently `getChildren()` is used inconsistently. For d3 nodes must use `node.children` directly - faster and more correct. `getChildren()` must only be used for `hierarchy()` calls (maybe there are some other use cases, but mostly it).

[2018-09-29 19:59] wonder-mice commented on #118
I'm working on it.

[2018-09-29 20:35] wonder-mice commented on #117
Is there particular reason why `hide` and `fade` are injected into data items instead of d3 nodes? It'll be faster to access them in nodes and allows less conflicts with provided data json format (which can be anything if we'll go with custom `getValue`, `getDelta`, `getChildren` callbacks).

[2018-09-29 22:53] spiermar commented on #107
Different thing, but it could be addressed by a custom `value` function. Idea is to have a flame graph based on data.delta values, not data.value.

[2018-09-29 22:54] spiermar commented on #117
No particular reason.

[2018-09-29 23:57] wonder-mice commented on #107
What will be the width of a node in this case?

[2018-09-30 00:31] spiermar commented on #107
The delta. It's a different kind of visualization.

[2018-10-01 20:07] wonder-mice commented on #105
I'm looking at transitions code, and now I understand why animations look so ugly. Each node is animated individually on CPU by updating DOM directly and anything more decent-looking will be even more slow. Removing `foreignObject` makes it much faster, but ultimately doesn't solve the problem and `foreignObject` allows for much nice node rendering...

[2018-10-01 20:16] wonder-mice opened #119 "improve animations"
I'm creating this issue to brain storm ideas on how animations can be improved to run smoothly even for large data sets.

Problem is that d3 animates on CPU by updating DOM values "manually" via timer. While flexible, with large node count transition FPS drops dramatically. For my data set size I have 2-3 frames per 750ms transition.

Generally, this can tackled from following directions:

1. Anim

[2018-10-08 21:30] spiermar commented on #119
Not sure if 3 applies, since nodes will have to change size for zoom. 1 seems interesting, but need to investigate how to get it implemented using the current structure.

[2018-10-11 18:34] wonder-mice commented on #114
Check this out:
https://github.com/spiermar/d3-flame-graph/pull/120

It has some differences visible from outside though:
- No `transitionDuration` / `transitionEase` functions. Must supply custom CSS class instead to control transitions. Don't have setter for that yet though.
- Tooltip doesn't have arrows because I didn't have tome to replicate this part of behavior and I think it's not super imp

[2018-10-23 21:38] spiermar commented on #106
@wonder-mice have you tested your large file with the latest code of #120 ?

[2018-10-27 21:05] spiermar opened #125 "test html canvas"

[2018-10-27 21:06] spiermar opened #126 "remove dist from repo"
Update readme with npm jsdelivr links, set files on package and update scripts.

[2019-01-16 20:11] lexh opened #127 "Bug in Differential Example JSON"
**Describe the bug**
The root node of `examples/differential.json` has value 0, where I think it should be 27720 (the total number of samples). This causes a strange behavior when using the search functionality in the example.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to http://martinspier.io/d3-flame-graph/differential.html
2. Search for 'get'
3. Notice bug in totals displayed by

[2019-01-22 15:23] kgilpin opened #128 "Search the graph by user-defined function"
**Is your feature request related to a problem? Please describe.**

The highlight feature provides a nice way to select flame graph nodes that are of particular user interest. Highlight is currently based on searching labels by regexp. I would like to select a specific node within the flame graph, rather than searching by regexp.

**Describe the solution you'd like**

The `data` field on each node

[2019-03-08 20:39] jiechenma opened #130 "d3-flamegraph.js not working with AMD"
**Describe the bug**
A clear and concise description of what the bug is.

dist/d3-flamegraph.js does not seem to work with AMD.

**To Reproduce**
Steps to reproduce the behavior:
1. Using dojo that does AMD module loading as an example:

[code]
2. Got error message in Chrome: "TypeError: d3.flamegraph() is not a function." Note that d3 is correctly loaded as I saw in the debugger.

**Expected beha

[2019-03-11 14:33] #130 closed

[2019-03-11 14:34] jiechenma commented on #130
d3.flamegraph = flamegraph.flamegraph;
var flameGraph = d3.flamegraph()

solves the issue.

[2019-04-07 06:08] monperrus opened #131 "animated flame graphs as videos"
It would be cool to create animated flame graphs, basically a video showing the execution of a program (to be uploaded to youtube, as [gource videos](https://www.youtube.com/results?search_query=gource)). Amir Langer has done a [preliminary prototype](https://www.youtube.com/watch?v=sOo5IabWxe0).

It seems that d3-flame-graph is a good start for doing something great.

Any idea?

[2019-04-19 17:18] spiermar commented on #131
Similar to [this](http://martinspier.io/d3-flame-graph/live.html)?

[2019-04-21 05:56] monperrus commented on #131
good to read from you here!

yes, something like this, maybe with a sliding window of the last N calls, and fast movements of the
flames (as in a real fire).

[2019-04-22 17:01] spiermar commented on #131
So the sliding window is possible with the current implementation. Just need to change the logic in the demo (the data structure being rendered is controlled outside the plugin). Same for the speed, controlled outside the plugin, by a loop sleep. Getting the right frame rate to "look real" might be tricky as it can be expensive to draw flame graphs that fast. I don't have cycles to work on it now,

[2019-04-23 07:35] monperrus commented on #131
Thanks for the advice. No cycle on my side right now either, but this may change in the future.

[2019-04-27 21:18] P403n1x87 opened #132 "search highlighted boxes get reset in between merges and wrong details are shown in the #details element"
**Describe the bug**

When animating a flame graph using merge, the search highlighting is reset. Furthermore, the information reported in the #details node seems to be wrong:

[code]

**To Reproduce**

Create an animation using the merge method.
Search a term in the call stack.
Wait for a refresh.

**Expected behavior**

The highlighted boxes should be kept among refreshes. Furthermore, the detai

[2019-06-17 04:31] dreamyeah opened #134 "Can you provide a simple example of using d3-flame-graph in a React?"
Can you provide a simple example of using d3-flame-graph in a React?

[2019-06-18 21:31] spiermar commented on #134
https://github.com/Netflix/flamescope/blob/master/src/components/FlameGraph/FlameGraph.jsx

[2019-06-18 21:31] #134 closed

[2019-08-06 23:02] spiermar opened #136 "Expand hover area on small frames"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-08-09 15:23] wimo7083 opened #137 "'name' influences the color"
**Describe the bug**
I'm taking output from a prolog profiling format:
https://sicstus.sics.se/sicstus/docs/4.3.0/html/sicstus/mpg_002dref_002dprint_005fprofile.html

And then parsing it to fit your specification. The output of that form for the names are:
`library:method/arg_count` this is because the number of args is an important concept in prolog. I've converted it to `library.method/arg_count

[2019-08-09 15:27] wimo7083 opened #138 "Question: What is "delta" for?"
In the examples theres a field "delta" that's in

https://github.com/spiermar/d3-flame-graph/blob/master/examples/differential.json

That is part of many of the child objects. This field doesn't appear to be required when writing to your input spec, what is this used for?

[code]

[2019-08-19 21:02] #128 closed

[2019-08-19 21:09] spiermar commented on #137
If I understand the issue correctly, the color is not changing on stack frames for your type of function name, correct?

[2019-08-19 21:10] spiermar commented on #138
Used on differential flame graphs. Not required for "regular" flame graphs. Its required because the size of the bar and input for coloring the frames is different.

[2019-08-19 21:10] #138 closed

[2019-08-19 21:12] spiermar commented on #131
Since its not directly in the scope of the plugin right now, I'll close it.

[2019-08-19 21:12] #131 closed

[2019-08-22 15:29] wimo7083 commented on #137
First, thank you for looking at this. I've really enjoyed reading your website on perf analysis.

The issue is I thought the color contained some type of insight into the performance behavior. The darker the color indicated a hotpath. When I tried to obscure the function names for public release I noticed that I went from almost no color (bottom) to a variety of different colors as I tried differe

[2019-08-22 16:34] spiermar commented on #137
In the "standard" flame graph, the color shade is random, but the color palette has a meaning. Default function is here:

https://github.com/spiermar/d3-flame-graph/blob/master/src/flamegraph.js#L131

[2019-10-25 17:57] #126 closed

[2019-11-20 14:07] tgunkel opened #143 "zoom in should also provided percentage of total"
The more I zoom into a flame graph the less helpful the percentage in the tooltip is. It is nice to see that something is 80% of the currently zoomed in data but how much of the total value is that? I always need to zoom out again to see how big the total impact actually is.

It would be nice if the tooltip would show the percentage of the zoomed in area + the percentage of the total value.
Exampl

[2019-11-21 17:23] spiermar opened #144 "ignore case on search"

[2020-01-23 15:44] aptmac commented on #84
@spiermar Hi!

I've written a patch [[0]](https://github.com/aptmac/d3-flame-graph/commit/c508e2ab95de2a48f03d655d6e7f306273dcaa12) based off the v2.0.2 release that replaces the `foreignObject` elements with `svg text` instead, which allows for the text to be displayed in Windows. The drawback is that the text-overflow css doesn't appear to work on `svg` elements, so there's a function that trims

[2020-01-30 19:00] aptmac opened #146 "changing the size of the graph doesn't change the size of the SVG"
**Describe the bug**
Hi! This bug relates to the `flamegraph.width` function [[0]](https://github.com/spiermar/d3-flame-graph#width).

In our application we added a `resize` function to change the size of the flamegraph based on the size of its container. We're using the `flamegraph.width` function [[0]](https://github.com/spiermar/d3-flame-graph#width) and giving it a value based on the width of

[2020-02-25 20:11] vasyl-shumskyi opened #148 "Click on Tooltip Text and Run a Function"
Thanks for the awesome module!

I would really love to place the link 'More Info' on a tooltip and run a function once clicked on that tooltip text.  How can I achieve that?

[2020-02-27 07:52] vasyl-shumskyi opened #149 "Is it possible to make graph responsive on window resize?"
Is it possible to make graph responsive on window resize?

[2020-03-13 17:48] spiermar commented on #149
Yes, by calling `chart.update()` on the window resize event.

[2020-03-13 17:50] spiermar commented on #148
You should be able to customize the tooltip the way you want. If you are using `d3-tip`, just set  `tip.html(<content>)` with the content you want in the tooltip, including the "more info" link.

[2020-03-17 09:31] vasyl-shumskyi commented on #148
The issue is that tooltip hides once on `mouseout` so it is not possible to hover the tooltip.
Sorry for not describing the problem properly.

[2020-03-17 09:36] vasyl-shumskyi commented on #149
Wow. That sounds awesome. Will give it a try.

[2020-03-17 17:06] spiermar commented on #149
Closing. Re-open if needed.

[2020-03-17 17:06] #149 closed

[2020-03-17 17:09] spiermar commented on #148
In this case, you would probably need a custom tip function. You could override the `.hide` method and make it do nothing, then add a close button to the tooltip.

https://github.com/spiermar/d3-flame-graph/commit/696d06e35f32f91c63f60ad27ba29a45f2ed4ca1#diff-ff6ac77e66493889becbb59451b28523

This implements a custom tooltip from scratch if you want an example.

[2020-03-20 04:56] #148 closed

[2020-04-18 13:13] rohchakr commented on #144
@spiermar I would like to work on this issue. Could you please provide more description?

[2020-04-18 16:16] spiermar commented on #144
Sure @rohchakr. Should be a simple feature. Today, search is done via RegEx and is case sensitive. Having an option to ignore case on search would be beneficial.

With the current default search, if I have a frame named "Test" for example, and I type "test" on search, it would not match because of the uppercase T.

We could add an option to the chart to enable this feature and just lower the case

[2020-04-19 08:59] rohchakr commented on #144
Thanks a lot.
Getting started!
Please assign this issue to me.

[2020-04-19 11:30] rohchakr commented on #144
@spiermar Created a PR #154  for validating the approach. Please guide further.

[2020-04-19 11:35] rohchakr commented on #144
I am thinking of having a checkbox just beside the search button to choose whether to make case-sensitive search or not.

[2020-04-19 17:43] spiermar commented on #144
It could be just a library option. No need to update the examples, just document it on the README.

[2020-04-20 13:44] rohchakr commented on #144
@spiermar Created a new PR #155
Introduced an optional argument for the function searchMatch and made necessary updates in the readme file.

[2020-04-21 05:51] rohchakr commented on #136
@spiermar I would like to work for this issue. Please assign this to me.

I am thinking of having a min width (if the width of any frame is smaller than this, then upon hover, its width should be set to this value). Also, would be good to have a frame border or fade effect upon hovering - this behaviour to be consistent for all frames (small and big ones).

Please share your opinion and suggest.

[2020-04-21 16:43] spiermar commented on #136
This is a tricky one. Not even sure how a large hover area would work. The issue is that is impossible to read very small frames since the size of the frame is too small to hover. Having a min is not ideal since it would distort the flame graph and possibly lead to wrong assumptions during analysis. I have a minWidth option, but what it does is hiding anything smaller than that.

[2020-04-22 11:26] rohchakr commented on #136
I see some of the small frames keep appearing as we traverse above the stack (zoom in). They are not visible once we reset zoom and go down to the previous stack level.

Provided that the content width/height remains fixed, we may not make the small frames appear. But whatever frames are visible at a particular zoom level, some styling can be applied on hover to make them focussed and stand out fr

[2020-04-23 21:50] spiermar commented on #136
The min size is px based, so when you zoom in, they become visible. I wouldn't worry about the non-visible frames, but the hover of visible ones.

[2020-04-25 16:59] rohchakr commented on #8
@spiermar
Created PR #157 for this. The tooltip follows the mouse pointer.
Please review.
I feel few more enhancements can be made for tooltip - can move it to appear on the left if it exceeds the flamegraph border (if the mouse pointer is at extreme right).
I will try to add that shortly. Please share your thoughts.

[2020-08-17 22:31] shawncao commented on #107
Hi @spiermar
Since it has been a while, may I get an update on this?

Do we have any alternative option today to display a [differential flamegraph](http://www.brendangregg.com/blog/2014-11-09/differential-flame-graphs.html)?

[2020-08-17 22:48] spiermar commented on #107
This can be achieved today with a custom `getValue` function. Delta only flame graph would be something like:

[code]

You could also change the `value` in the data structure too. It would achieve the same result.

I'm not using delta only in any tools today. Found that differential with red blue frame shades + elided flame graphs, side by side, work best for finding differences.

[2020-08-17 22:51] shawncao commented on #107
Sounds good, thank you for your quick reply!

[2020-08-24 16:47] ItzaMi opened #161 "Remove graph on load"
Recently I picked up a project that has `d3-flame-graph` on it and the graph is displayed according to the Filters defined on another component.
My issue is that when searching with new parameters I can't seem to clean the previous chart and I was wondering if someone could help me

[code]

[2020-10-07 16:37] alexbozhenko opened #162 "jsdelivr.net does not have latest versions"
https://cdn.jsdelivr.net/gh/spiermar/d3-flame-graph@4.0.6/ and other versions after 2.1.4 are missing "dist" directory.

So the exmaple from README.md that reverences files at
https://cdn.jsdelivr.net/gh/spiermar/d3-flame-graph@4.0.0/dist/

is broken. (4.0.0. tag is also missing all toghether)

Is it possible to generate "dist" for all those recent versions?

[2020-11-17 20:04] alexbozhenko commented on #162
@spiermar Do you think you can resume publishing the "dist" directory?

[2020-11-18 23:44] spiermar commented on #162
You're right. We stopped publishing the dist directory. It was causing a few problems, so I'll have to think of a better way to distribute it on jsdelivr and update the documentation

[2020-11-18 23:49] spiermar commented on #161
Missed this issue. The problem is the SVG that is created and has to be removed too. What I usually do is:

[code]

I have a React component for flame graphs, but publishing it is still in my backlog.

[2020-11-18 23:52] spiermar commented on #146
I do something similar on my code, but you're right, it should be in the plugin.

[code]

[2020-11-26 15:46] thegreystone commented on #162
This is a bit of a pickle for OpenJDK Mission Control as well. We need to upgrade to a more recent version, but can't find where to pick it up:
https://github.com/openjdk/jmc/blob/master/application/org.openjdk.jmc.flightrecorder.flameview/pom.xml#L68

[2020-11-26 17:39] spiermar commented on #162
Yes, saw that. At this point, I believe the best approach is a GH action or Travis job to publish new versions. I'll try to get to that shortly.

[2020-11-27 16:22] guruhb opened #163 "Only root node is shown and ignoring all the child node from release v2.0.6 onwards"
Only Root node is rendered ignoring other 5 child nodes for below json data : Used to work till v2.0.4 and by bisecting between v2.0.4 and v2.0.5 it fails from commit : https://github.com/spiermar/d3-flame-graph/commit/0ecd1904b91ae260fb1170043a8f23d04f8d5c13
[code]

**To Reproduce**
copy the above json data to "~/examples/stack.json" and load "~/examples/index.html"

**Expected behavior**
All 5 n

[2020-11-27 16:52] guruhb commented on #163
Representing value of "v" as integer works as expected , Currently the json in example has value ("v") represented as string.

[2020-12-01 22:43] thegreystone commented on #162
Looking forward to it! :) Let me know if there is something anyone of us can do to help.

[2020-12-01 22:52] spiermar commented on #162
On my to do list for this week. Should be something simple, just need to block some time for it.

[2020-12-09 18:12] thegreystone commented on #162
Pretty please? :)

[2020-12-11 17:39] spiermar commented on #162
Ok, so ended up not having to do anything. jsdelivr can host npm files too, and npm includes the dist folder.

https://cdn.jsdelivr.net/npm/d3-flame-graph@4.0.6/dist/d3-flamegraph.min.js

I'll update the readme and also create a GH action to auto-publish new tags to npm.

[2020-12-11 17:39] #162 closed

[2020-12-11 17:42] spiermar opened #165 "auto publish new tags to npm"

[2021-02-27 10:21] vasyl-shumskyi opened #166 "Maximum call stack size exceeded - v4.0.6"
I receive a Maximum call stack size exceeded with the following data:

- flame-graph version:  **4.0.6**
- elements: **175,000**
- depth: **20**

[code]

<img width="823" alt="Screen Shot 2021-02-27 at 12 15 03" src="https://user-images.githubusercontent.com/2331802/109384449-7a5a7000-78f5-11eb-86ad-fb5518716cf7.png">

[2021-02-27 10:32] vasyl-shumskyi commented on #166
Increasing  `minFrameSize(5)` helped.

Is there any way I can check the number of rendered elements on a chart?
Just curious how many elements are too many?

[2021-02-27 18:12] vasyl-shumskyi opened #167 "Get element data on hover"
What is the proper way to get element data on hover?

Right now I use the following trick with `setDetailsHandler`:

[code]
[code]
[code]

It works nicely, but I get `[object Object]` as a label on the chart. Can it be hidden somehow?

Thanks

[2021-02-28 09:20] vasyl-shumskyi opened #168 "How to update chart width?"
What is the proper way to update the chart after it has been drawn?

I need to update the chart width.

The manual says it is as simple as `flamegraph.update()` but I still wasn't able to update it properly.

Probably I misunderstand the concept.

Below code draws chart just fine.
[code]
I expect this code to update the chart width (but it doesn't)

[code]

[2021-02-28 09:26] vasyl-shumskyi opened #169 "Hide / Unhide Nodes"
Is it possible to hide / unhide nodes on the chart?

The [following plugin](https://github.com/cimi/d3-flame-graphs) seems to have this feature, but it is not supported anymore.

**Hiding across the stack** - The plugin offers the capability to hide node selections across the stack (their value is subtracted from the parent nodes and their children are hidden).

[2021-02-28 10:08] vasyl-shumskyi commented on #168
It looks like the SVG container width wasn't updated on `chart.update()`

The fix is as following:

[code]

[2021-04-02 19:44] LiXin2014 opened #172 "Is it possible to add other attributes to rects in flame graph?"
**Is your feature request related to a problem? Please describe.**
I wanted to implement a flame graph that supports keyboard navigation and voice-over.
Which requires adding tabindex and aria-label attributes on each rect/cell

**Describe the solution you'd like**
A way to add other attributes.

[2021-05-08 18:54] spiermar commented on #172
Yes, should be a simple change at

https://github.com/spiermar/d3-flame-graph/blob/master/src/flamegraph.js#L397

Adding new `.attr()` for the new attributes.

[2021-05-08 19:01] spiermar commented on #168
Currently, when resizing, I delete and create a new chart. Could add a hook to just resize the SVG.

[2021-05-08 19:04] spiermar commented on #167
I don't have a `.onHover()` hook, so using `.detailsHandler()` is a feasible workaround. I could create another function, but it would do exactly the same thing.

[2021-05-25 16:52] spiermar commented on #166
20 depth shouldn't be an issue. Frequently have graphs with 2000+ depth and no issues. Might be missing something. I can have a look if you're Ok with sharing the data to repro.

[2021-06-17 12:42] pradyunsg commented on #149
Hiya!

I spent the better part of my day looking into this today, so noting my findings here: `chart.update()` doesn't do what's needed here, since that's designed to replace the current set of nodes (https://github.com/spiermar/d3-flame-graph#update) -- a `chart.update()` call will try updating the data to `undefined` which fails.

Changing `chart.update` to call the private `update` function to

[2021-06-17 12:45] pradyunsg commented on #146
FWIW, I have this exact same usecase and I just posted the "solution" I've come up with in https://github.com/spiermar/d3-flame-graph/issues/149#issuecomment-863206300, that preserves zoom, search highlights and all other state.

[2021-06-17 12:54] spiermar commented on #146
Thanks @pradyunsg! Feel free to submit a PR, otherwise I can make the changes later too.

[2021-06-30 21:27] Joezc opened #180 "Can not find differentialColorMapper"
**Describe the bug**
The code can not find `flamegraph.colorMapper.differentialColorMapper` for differential flamegraph when using jsdelivr CDN min.js

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'examples/differential.html'
2. Replace the js source to jsdelivr CDN, which includes:
[code]
3. Open the html.
4. The browser can not load flamegraph and shows `flamegraph.colorMapper` is

[2021-07-12 16:02] sasichaitanya opened #181 "Open the immediate node on click"
By default showing the root node.
How to open/close only the immediate nodes on click of the clicked node .

Ref:
![Screenshot from 2021-07-12 21-28-56](https://user-images.githubusercontent.com/31756653/125319517-771dc900-e358-11eb-927b-688d76991c17.png)

[2021-07-14 02:38] sliyoxn opened #182 "Cancel open the node on click or make it can be controlled by click listener"
update the zoom function in flamegraph.js
[code]
can use like this
[code]

[2021-08-14 17:52] iliasaz opened #183 "How to make node text a link"
I have a requirement to navigate to another page when a user clicks on a particular node text (not the frame itself). I tried embedding an <a> tag in the data element itself, but it comes out as text/html, no rendered. Is there a function I could use to inject html rendering of the node text? Will it be clickable?

Thanks!

[2021-09-03 19:22] jaimeg-splunk opened #185 "Tooltip API doesn't exist as mentioned in the Docs."
**Describe the bug**
The Tooltip api does not exist in the package, it is a Boolean input not a function input.

**To Reproduce**
Steps to reproduce the behavior:
Use the package based off the NPM package as is without CDNs.

[2021-09-10 22:17] #185 closed

[2021-09-12 01:36] nickgirardo opened #186 "Typescript: no type for defaultFlamegraphTooltip"
**Describe the bug**
The function `defaultFlamegraphTooltip` is exported from [your distribution index](https://github.com/spiermar/d3-flame-graph/blob/58c370ec1bcab133816a7a1a0ba8245af7f4db98/index.js#L3), however no type is present in your `index.d.ts`.

Without a type exported, a Typescript compiler does not think the function exists and will refuse to compile.

**To Reproduce**
Steps to reprod

[2021-09-12 01:54] nickgirardo opened #187 "TypeScript: confusion regarding StackFrame type"
**Describe the bug**
The type for StackFrame, as described in [here in index.d.ts](https://github.com/spiermar/d3-flame-graph/blob/58c370ec1bcab133816a7a1a0ba8245af7f4db98/index.d.ts#L3) is
[code]

This looks fine, however [your sample JSON file](https://github.com/spiermar/d3-flame-graph/blob/master/examples/stacks.json) does not conform to this type.  Notice how in the type definition `children`

[2021-09-14 05:41] nickgirardo opened #189 "Tooltip elements not cleaned up on flamegraph.destroy()"
**Describe the bug**
When calling `.destroy()` on the graph, the associated tip is not removed from the DOM

**To Reproduce**
Steps to reproduce the behavior:
1. Before creating a flamegraph, check `document.querySelectorAll('.d3-flame-graph-tip').length`.  This should be 0.
2. Create a new flamegraph with a tooltip
2. Check `document.querySelectorAll('.d3-flame-graph-tip').length` again.  There s

[2021-09-30 16:50] wesleytodd opened #191 "Versions missing on the public regestry"
Hey @spiermar, I noticed that a few versions are not published to the public npm registry despite being tagged. Our monitoring caught your recent publish and I am guessing they were just accidentally published on the Netflix internal registry.

```curl https://registry.npmjs.com/d3-flame-graph | jq ".versions | keys[]"```

It looks like the `4.0.0 - 4.0.5` range is what's missing.  It should be a

[2021-09-30 16:57] spiermar commented on #191
You're right. That's likely what happened. I'll publish the missing tags, but end of the day, I should automate publishing of new tags.

[2021-09-30 17:16] wesleytodd commented on #191
Thanks for the quick response and 👍 on automation. There are some good GH actions for this you can probably use.  Want me to close this now, or will you once the versions are published?

[2021-09-30 17:26] spiermar commented on #191
I can close when the versions are published.

[2021-10-11 17:21] dkolosov-intel opened #193 "ReDoS issue comes from d3-color version 1-2 indirect dependency!"
d3-flame-graph control has indirect dependency on d3-colors version 1 which has ReDoS issue(s)
[](https://github.com/d3/d3-color/commit/4c2be7e59a317d0af7c3d66e44fa888f02163a59)
[](https://github.com/d3/d3-color/pull/89)

The issue(s) has been fixed in d3-colors version 3

d3-selection@1.4.2 and d3-transition@1.3.2 modules have dependency on d3-color@1.4.1

+-- d3-flame-graph@4.0.6
| +-- d3-scale@

[2021-10-12 08:49] #193 closed, assigned to nobody

[2021-10-12 16:47] #180 closed

[2021-10-12 16:48] spiermar commented on #172
Closing for inactivity.

[2021-10-12 16:48] #172 closed

[2021-10-12 17:24] spiermar commented on #183
Hey @iliasaz
Setting the node text to something other than pure text is not an option right now, and I cant see a simple workaround. What probably needs to be done is to change the node creation call to include an SVG `<a>` before the text name. See https://github.com/spiermar/d3-flame-graph/blob/master/src/flamegraph.js#L346.

This would require a custom build right now, since there's no option t

[2021-10-12 18:12] spiermar commented on #166
Closing due to innactivity.

[2021-10-12 18:18] spiermar commented on #161
`.destroy()` should take care of that. Closing.

[2021-10-12 18:54] spiermar commented on #168
Duplicate #146. Closing.

[2021-10-12 18:54] #168 closed

[2021-10-12 19:30] #146 closed

[2021-10-12 19:31] spiermar commented on #146
@pradyunsg the change above implements both suggestions you made. Thank you.

[2021-10-13 04:53] #143 closed

[2021-10-13 05:05] #132 closed

[2021-10-13 06:32] #165 closed

[2021-10-13 07:44] spiermar opened #195 "use separate function to load raw data (other than datum)"

[2021-10-21 16:04] trivialno opened #196 "is there any simple way to have 2 flamegraphs (for visual different data) in a single html page?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-22 05:42] #196 closed, assigned to nobody

[2021-10-30 21:10] mhansen opened #197 "README example doesn't run because d3 changed the d3.json signature to return Promises"
If I run the example in the README:

[code]

The callback isn't called, even though loading data.json succeeded with HTTP 200. This is because d3 moved from callbacks to returning a promise in d3 v5.

[2021-11-01 15:31] #197 closed

[2021-11-24 01:17] shaunlebron commented on #97
The author of the original flamegraph mentioned this back in #22 and a few other times:

From [here](https://queue.acm.org/detail.cfm?id=2927301):

And [here](https://www.brendangregg.com/FlameGraphs/cpuflamegraphs.html):

[2021-12-18 00:22] mhansen opened #203 "Distribution includes d3 functions, which get duplicated (& maybe version skew) when sites also include d3.js"
I think flamegraph/dist bundles a copy of many d3 functions, increasing page weight and risking version skew.

**To Reproduce**

- Open https://cdn.jsdelivr.net/npm/d3-flame-graph@4.1.3/dist/d3-flamegraph.js
- Search for `node_modules/d3-`
- note 139 matches, including (a selection of files from top-level modules):
  - node_modules/d3-selection/src/selector.js
  - node_modules/d3-format/src/expone

[2021-12-18 00:24] mhansen commented on #203
I should add, I don't know that this is an urgent issue or anything (nothing seems to be really 'breaking' yet!), just thought I'd file it to track in case this was unexpected.

[2021-12-19 19:10] spiermar commented on #203
Thanks for opening the issue @mhansen! This is likely related to a bundling configuration we might have missed during the migration to Webpack, where we need to specify packages that are available already, so they don't get bundled and duplicated.
No reports of issues so far (and assuming the same major version is being used, should be fine), but we shouldn't be shipping duplicated code. I'll chec

[2022-01-24 15:46] luisruizfigueroa commented on #88
@vasyl-shumskyi and how do you represent it in time?

[2022-01-25 15:50] spiermar commented on #88
@luisruizfigueroa  The screenshot is misleading. Flame graphs / icicle graph (upside down flame graphs) and flame charts are different things. No time dimension on flame graphs. You could hack something together with the plugin, creating a tree from the passage of time, disabling sort, but it's not an intuitive solution. There are better ways to draw a flame chart.
To get insight into the time dim

[2022-08-10 13:44] radwaElyamany opened #213 "colorMapper random colors"
when adding random color to to decide the color of each frame using this function

[code]
when i select on any frame the colors keep changing

[2022-09-26 10:00] Ilovetaxi commented on #182
[]()